body {
  font-family: Arial;
  background: linear-gradient(120deg, #008cff, #00c6ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  border-radius: 12px;
  padding: 20px;
  width: 90%;
  max-width: 360px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  width: 95%;
  padding: 10px;
  background: #0078ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
}
